.graph {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(54, 226, 248, 0.5) 0%,
      rgba(54, 226, 248, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(54, 226, 248, 0.5) 0%,
      rgba(54, 226, 248, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    );
  background-size: 4em 2em, 4em 2em;
  background-color: rgba(0, 0, 0, 0);
  height: 40em;
  perspective: 1000px;
  transform: perspective(200px) rotateX(45deg) scale(2);
}
