.bgBlurTop {
  backdrop-filter: blur(2px);
  box-shadow: inset 0px -6px 7px 4px rgba(168, 223, 255, 0.3);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    border-bottom-right-radius: 1rem /* 6px */;
    border-bottom-left-radius: 1rem /* 6px */;
    background-color: rgba(183, 227, 255, 0.3);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230064ff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.bgBlurBottom {
  backdrop-filter: blur(2px);
  box-shadow: inset 0px 6px 7px 4px rgba(168, 223, 255, 0.3);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    border-top-right-radius: 1rem /* 6px */;
    border-top-left-radius: 1rem /* 6px */;
    background-color: rgba(183, 227, 255, 0.3);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230064ff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.meButton {
  border: 2px solid rgba(150, 150, 255, 1);
  border-radius: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5em 0.5em;
  background-color: rgba(0, 0, 255, 0.1);
  color: white;
  box-shadow: 0px 0px 5px 2px rgba(150, 150, 255, 0.3),
    inset 0px 0px 5px 5px rgba(100, 100, 255, 0.3);
  transition: ease-in-out 0.2s;

  &:hover,
  &:focus {
    border: 2px solid rgb(255, 201, 150);
    background-color: rgba(255, 136, 0, 0.1);
    box-shadow: 0px 0px 5px 2px rgba(255, 218, 150, 0.3),
      inset 0px 0px 5px 5px rgba(255, 188, 100, 0.3);
  }

  &:focus {
    outline: none;
  }

  &:not(:nth-of-type(1)) {
    margin-left: 0.5em;
  }

  &:not(:nth-last-of-type(1)) {
    margin-right: 0.5em;
  }

  &.active {
    background-color: rgba(150, 150, 255, 1);
    box-shadow: 0px 0px 5px 2px rgba(150, 150, 255, 0.3);
    color: black;

    &:hover,
    &:focus {
      background-color: rgb(255, 201, 150);
      box-shadow: 0px 0px 5px 2px rgba(255, 218, 150, 0.3);
    }
  }
}

@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.starsContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
  }
  .stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }

  .stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
  }
  .stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }

  .stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
  }
  .stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
